# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
fastrecog_api/

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python pickle / cache
*.pkl
*.pickle

# Project specific
encodings.pkl